## Import

In [1]:
import FinanceDataReader as fdr
import numpy as np

In [2]:
df_krx = fdr.StockListing('KRX')
df_kospi = fdr.StockListing('KOSPI')
df_kosdaq = fdr.StockListing('KOSDAQ')
df_konex = fdr.StockListing('KONEX')

In [3]:
df_nyse = fdr.StockListing('NYSE')   # 뉴욕거래소
df_nasdaq = fdr.StockListing('NASDAQ') # 나스닥
df_amex = fdr.StockListing('AMEX')   # 아멕스

100%|█████████████████████████████████████████████████████████████████████████████| 3462/3462 [00:05<00:00, 679.36it/s]
100%|█████████████████████████████████████████████████████████████████████████████| 4551/4551 [00:08<00:00, 544.23it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 307/307 [00:00<00:00, 698.54it/s]

In [15]:
stock_list = np.load("stock_list.npy")

In [16]:
stock_list

array(['AMD', '삼성전자', 'NAVER', 'APPLE', 'SK하이닉스', '현대차', 'FACEBOOK',
       'NVIDIA', 'AMAZON', 'NETFLIX', 'POSCO', '셀트리온', '삼성전자 보통주',
       '삼성전자보통주', 'MICROSOFT', '기아차', '신한지주', '현대차 보통주', '대한항공', 'LG생활건강',
       '삼성중공업', 'SK텔레콤', '현대모비스', 'LG유플러스', '현대미포조선', '삼성SDI', '현대제철',
       '롯데케미칼', 'KB금융', 'LG디스플레이', '한국전력', '현대중공업', '삼성엔지니어링', '삼성전기',
       '고려아연', 'LG디스플레이 보통주', '현대제철 보통주', 'LG전자', '현대글로비스', '기아차 보통주',
       'GS건설 보통주', 'KT', '하나금융지주', '엔씨소프트', 'SK', '한국가스공사', '대우증권',
       '삼성카드', 'GS건설', '두산중공업', '대우조선해양', 'NHN', 'SK이노베이션', '대림산업', 'LG',
       '우리금융', 'LG화학', '호남석유', 'GS', '삼성물산'], dtype='<U11')

In [19]:
df_krx.head(3)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시

In [20]:
df_nasdaq.head(3)

  Symbol            Name        Industry IndustryCode
0   AAPL       Apple Inc  컴퓨터, 전화 및 가전제품       571060
1   MSFT  Microsoft Corp   소프트웨어 및 IT서비스       572010
2   AMZN  Amazon.com Inc         다양한 소매업       534020

* 국내 주식

In [21]:
# 회사 이름을 입력 시 symbol을 출력하는 함수
def print_sym(name, df):
    output = np.array(df.loc[df.Name == name,'Symbol'])
    if output.shape[0] > 0:
        return output[0]
    else:
        print("올바른 이름을 입력 하시오", name)
        return "-"

In [70]:
import pandas as pd
import re

In [90]:
stock_list = [re.sub("보통주", "",x) if "보통주" in x else x for x in stock_list]
stock_list = [re.sub(" ", "",x) for x in stock_list]
stock_list = np.unique(stock_list)

In [92]:
change_dict = {"우리금융":"우리금융지주",
"기아차":"기아"}

In [93]:
cnt = 0
for stocks in stock_list:
    if stocks in list(change_dict.keys()):
        stocks = change_dict[stocks]
    
    value = print_sym(stocks, df_krx)
    if value == "-":
        continue
    else:
        temp_df = fdr.DataReader(value,'2012')
        temp_df.reset_index(inplace = True)
        columns_ = ['Date']
        columns_.extend([stocks + "_" +x for x in temp_df.columns if x != "Date"])
        temp_df.columns = columns_
        
        if cnt == 0:
            stock_df = temp_df
            cnt += 1
        else:
            stock_df = pd.merge(stock_df, temp_df, on = "Date", how = "outer")

올바른 이름을 입력 하시오 AMAZON
올바른 이름을 입력 하시오 AMD
올바른 이름을 입력 하시오 APPLE
올바른 이름을 입력 하시오 FACEBOOK
올바른 이름을 입력 하시오 MICROSOFT
올바른 이름을 입력 하시오 NETFLIX
올바른 이름을 입력 하시오 NVIDIA
올바른 이름을 입력 하시오 대림산업
올바른 이름을 입력 하시오 대우증권
올바른 이름을 입력 하시오 호남석유

In [106]:
# check
[x for x in df_krx.Name.unique() if x.startswith("기아")]
[x for x in df_nasdaq.Name.unique() if x.startswith("Apple")]

['Apple Inc']

In [108]:
change_dict2 = {"AMAZON":"Amazon.com Inc", "AMD":"Advanced Micro Devices Inc",
               "APPLE":"Apple Inc","FACEBOOK":"Meta Platforms Inc Class A",
               "NETFLIX":"Netflix Inc", "NVIDIA":"NVIDIA Corp"}

In [111]:
cnt = 0
for stocks in list(change_dict2.keys()):
    name = stocks
    stocks = change_dict2[stocks]
    value = print_sym(stocks, df_nasdaq)
    
    if value == "-":
        continue
    else:
        temp_df = fdr.DataReader(value,'2012')
        temp_df.reset_index(inplace = True)
        columns_ = ['Date']
        columns_.extend([name + "_" +x for x in temp_df.columns if x != "Date"])
        temp_df.columns = columns_
        
        if cnt == 0:
            stock_df2 = temp_df
            cnt += 1
        else:
            stock_df2 = pd.merge(stock_df2, temp_df, on = "Date", how = "outer")

In [113]:
tot_stock = pd.merge(stock_df, stock_df2, on = "Date", how = "outer")
tot_stock.head()

,Date,GS_Open,GS_High,GS_Low,GS_Close,GS_Volume,GS_Change,GS건설_Open,GS건설_High,GS건설_Low,...,NETFLIX_High,NETFLIX_Low,NETFLIX_Volume,NETFLIX_Change,NVIDIA_Close,NVIDIA_Open,NVIDIA_High,NVIDIA_Low,NVIDIA_Volume,NVIDIA_Change
0,2012-01-02,51100.0,52000.0,51000.0,51400.0,267713.0,0.013807,85165.0,86459.0,84795.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-03,51900.0,53800.0,51800.0,53300.0,672872.0,0.036965,88031.0,90620.0,87939.0,...,10.39,10.02,29220000.0,0.0424,3.51,3.58,3.60,3.50,46810000.0,0.0145
2,2012-01-04,53500.0,54000.0,52800.0,53400.0,461090.0,0.001876,90805.0,90990.0,88863.0,...,11.57,10.26,100550000.0,0.1134,3.55,3.51,3.56,3.48,34740000.0,0.0114
3,2012-01-05,53900.0,55200.0,53500.0,53800.0,652056.0,0.007491,90620.0,90620.0,88031.0,...,11.69,11.04,86610000.0,-0.0139,3.68,3.53,3.69,3.52,56360000.0,0.0366
4,2012-01-06,53900.0,54500.0,52000.0,53000.0,458696.0,-0.014870,88771.0,89418.0,87014.0,...,12.47,11.24,125660000.0,0.0883,3.63,3.67,3.68,3.59,53360000.0,-0.0136

In [121]:
tot_stock.to_csv("total_stocks.csv", index = False)