## Import

In [1]:
from tqdm import tqdm

import FinanceDataReader as fdr
import numpy as np
import pandas as pd
import re

* america

In [2]:
df_nyse = fdr.StockListing('NYSE')   # 뉴욕거래소
df_nasdaq = fdr.StockListing('NASDAQ') # 나스닥
df_amex = fdr.StockListing('AMEX')   # 아멕스

100%|█████████████████████████████████████████████████████████████████████████████| 3459/3459 [00:04<00:00, 825.19it/s]
100%|█████████████████████████████████████████████████████████████████████████████| 4557/4557 [00:08<00:00, 562.27it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 306/306 [00:00<00:00, 1050.68it/s]

* china, japan

In [3]:
df_sse = fdr.StockListing('SSE')
df_szse = fdr.StockListing('SZSE')
df_hkex = fdr.StockListing('HKEX')
df_tse = fdr.StockListing('TSE')

100%|████████████████████████████████████████████████████████████████████████████| 1033/1033 [00:00<00:00, 1054.87it/s]
100%|████████████████████████████████████████████████████████████████████████████| 1424/1424 [00:01<00:00, 1007.02it/s]
100%|█████████████████████████████████████████████████████████████████████████████| 2645/2645 [00:03<00:00, 806.50it/s]
100%|█████████████████████████████████████████████████████████████████████████████| 3928/3928 [00:05<00:00, 731.56it/s]

In [7]:
tot_df = pd.concat([df_nyse, df_nasdaq, df_amex, df_sse, df_szse, df_hkex, df_tse], axis =0)
tot_df.drop_duplicates(inplace = True)
tot_df.shape

In [8]:
tot_df.head()

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체 및 반도체 장비,571010
1,V,Visa Inc Class A,소프트웨어 및 IT서비스,572010
2,JPM,JPMorgan Chase & Co,은행,551010
3,UNH,UnitedHealth Group Inc,헬스케어 업체 및 서비스,561020
4,JNJ,Johnson & Johnson,제약,562010

* theme df

In [9]:
data_path = "C:\\Users\\PC0\\Documents\\datasets\\"

In [10]:
df_theme = pd.read_csv(data_path + 'sector.csv', encoding = "cp949")
df_theme = df_theme.dropna()

In [11]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

* description

In [19]:
from bs4 import BeautifulSoup

import requests
import pickle

In [17]:
agent = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Safari/537.36"}

In [18]:
tot_df.head()

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체 및 반도체 장비,571010
1,V,Visa Inc Class A,소프트웨어 및 IT서비스,572010
2,JPM,JPMorgan Chase & Co,은행,551010
3,UNH,UnitedHealth Group Inc,헬스케어 업체 및 서비스,561020
4,JNJ,Johnson & Johnson,제약,562010

In [9]:
desc_dict = {}

In [23]:
for idx, sym in tqdm(enumerate(tot_df.Symbol)):
    if sym in df_theme.종목코드.tolist():
        continue
        
    ## HTTP GET Request
    req = requests.get('https://finance.yahoo.com/quote/{code}/profile?p={code}'.format(code=sym),
                  headers=agent)
    ## HTML 소스 가져오기
    html = req.text
    ## HTTP Header 가져오기
    header = req.headers
    ## HTTP Status 가져오기 (200: 정상)
    status = req.status_code
    ## HTTP가 정상적으로 되었는지 (True/False)
    is_ok = req.ok
    
    soup = BeautifulSoup(html, 'html.parser')
    try:
        description = soup.select('section > p')[0]
    except IndexError:
        continue
    desc_dict[sym] = description.text
    
    if idx % 50 == 0:
        with open('desc_dict.pickle', 'wb') as f:
            pickle.dump(desc_dict, f)

17342it [10:03:56,  2.09s/it]

In [24]:
'''with open('desc_dict.pickle', 'wb') as f:
    pickle.dump(desc_dict, f)'''