## Import

In [1]:
from tqdm import tqdm

import FinanceDataReader as fdr
import pandas_datareader as pdr
import yfinance as yf
import numpy as np
import pandas as pd
import re

# Data load

In [2]:
import os
os.getcwd()

'C:\\Users\\PC\\OneDrive\\문서\\GitHub\\Korea_Investment_and_Securities\\scripts\\ipynb'

In [3]:
data_path = "C:\\Users\\PC\\OneDrive\\문서\\GitHub\\Korea_Investment_and_Securities\\datasets\\"
out_data_path = "C:\\Users\\PC\\OneDrive\\문서\\datasets\\"

In [4]:
tot_df = pd.read_csv(data_path +"tot_df.csv", encoding = "cp949")
df_theme = pd.read_csv(data_path +'sector.csv', encoding = "cp949")
df_theme = df_theme.dropna()

In [5]:
# tot_df.to_csv("tot_df.csv", index=False)

In [6]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [7]:
tot_df.head()

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체 및 반도체 장비,571010.0
1,V,Visa Inc Class A,소프트웨어 및 IT서비스,572010.0
2,JPM,JPMorgan Chase & Co,은행,551010.0
3,UNH,UnitedHealth Group Inc,헬스케어 업체 및 서비스,561020.0
4,JNJ,Johnson & Johnson,제약,562010.0

# Name to Symbol

- 가장 유사한 이름 탐색

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
etf_name = ["Berkshire Hathaway Inc. Class B",
"JPMorgan Chase & Co.", 
"Citigroup Inc.",
"Goldman Sachs Group, Inc."]

In [13]:
def print_symbol(name, etf_name, tot_df):
    # 탐색 key value 선정
    temp_key_value = name.split(" ")
    key_value = temp_key_value[0]

    # TDM 구축
    total_name = []
    total_name.extend(etf_name)
    total_name.extend(list(tot_df.Name))

    tokenizer = CountVectorizer()
    tdm=tokenizer.fit_transform(total_name)

    first_select = [idx for idx, x in enumerate(total_name) if x.startswith(key_value)]

    if len(first_select) == 2:
        output_idx = first_select[1] - len(etf_name)
    else:
        sims = cosine_similarity(tdm[first_select[0]], tdm[first_select[1:]])
        output_idx = first_select[1:][np.argmax(sims)] - len(etf_name)

    print("name: ", name,"\nresult:", tot_df.Name[output_idx])

    return tot_df.iloc[output_idx].Symbol

In [14]:
symbol = print_symbol(etf_name[3], etf_name, tot_df); symbol

name:  Goldman Sachs Group, Inc.
result: Goldman Sachs Group Inc

'GS'

* yfinance 기준 주가 데이터 수집

In [8]:
tot_df.head(10)

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체 및 반도체 장비,571010.0
1,V,Visa Inc Class A,소프트웨어 및 IT서비스,572010.0
2,JPM,JPMorgan Chase & Co,은행,551010.0
3,UNH,UnitedHealth Group Inc,헬스케어 업체 및 서비스,561020.0
4,JNJ,Johnson & Johnson,제약,562010.0
5,BRK.B,Berkshire Hathaway Inc Class B,복합 기업,544010.0
6,BAC,Bank of America Corp,은행,551010.0
7,WMT,Walmart Inc,식품 및 약품소매,543010.0
8,PG,Procter & Gamble Co,"개인, 가정 용품 및 서비스",542010.0
9,HD,Home Depot Inc,전문품 상점,534030.0

In [8]:
stock_list = []
col_names = []

In [9]:
start_idx = 0

In [ ]:
for idx, code in tqdm(enumerate(tot_df.Symbol[start_idx:])):
    temp = yf.download(code,start = '2015-01-01', progress = False).loc[:, ['Close']]
    try:
        temp.columns = [code]
    except ValueError:
        start_idx += 1
        continue
        
    stock_list.append(temp)
    start_idx += 1

6it [00:02,  2.14it/s]

1 Failed download:
- BRK.B: No data found, symbol may be delisted

14it [00:06,  2.62it/s]

1 Failed download:
- BRK.A: No data found, symbol may be delisted

31it [00:13,  3.02it/s]

1 Failed download:
- RDS.A: No data found, symbol may be delisted

92it [00:45,  2.52it/s]

1 Failed download:
- RDS.B: No data found for this date range, symbol may be delisted

93it [00:45,  1.98it/s]

1 Failed download:
- UN: No data found, symbol may be delisted

249it [01:53,  2.92it/s]

1 Failed download:
- PBR.A: No data found, symbol may be delisted

390it [02:56,  1.98it/s]

1 Failed download:
- BF.B: No data found for this date range, symbol may be delisted

534it [03:56,  3.04it/s]

1 Failed download:
- VER: No data found, symbol may be delisted

568it [04:08,  2.93it/s]

1 Failed download:
- BF.A: No data found, symbol may be delisted

624it [04:33,  2.56it/s]

1 Failed download:
- HEI.A: No data found, symbol may be delisted

641it [04:40,  1.60it/s]

1 Failed download:
- XEC: No data found, symbol may be delisted

651it [04:43,  2.91it/s]

1 Failed download:
- COG: No data found, symbol may be delisted

829it [05:55,  3.05it/s]

1 Failed download:
- STZ.B: No data found for this date range, symbol may be delisted

837it [05:59,  2.73it/s]

1 Failed download:
- MDLA: No data found, symbol may be delisted

890it [06:22,  2.96it/s]

1 Failed download:
- GRP.U: No data found, symbol may be delisted

1060it [09:04,  2.34it/s]

1 Failed download:
- SOGO: No data found, symbol may be delisted

1073it [09:16,  1.13it/s]

1 Failed download:
- CMD: No data found, symbol may be delisted

1081it [09:26,  1.07s/it]

1 Failed download:
- BIO.B: No data found for this date range, symbol may be delisted

1105it [09:38,  3.48it/s]

1 Failed download:
- BXS: No data found, symbol may be delisted

1164it [10:01,  2.85it/s]

1 Failed download:
- LEN.B: No data found for this date range, symbol may be delisted

1249it [10:31,  2.62it/s]

1 Failed download:
- N: No data found for this date range, symbol may be delisted

1254it [10:32,  3.67it/s]

1 Failed download:
- JW.A: No data found, symbol may be delisted

1266it [10:38,  2.07it/s]

1 Failed download:
- CWEN.A: No data found, symbol may be delisted

1288it [10:45,  3.34it/s]

1 Failed download:
- MOG.A: No data found, symbol may be delisted

1350it [11:08,  2.36it/s]

1 Failed download:
- Q: No data found for this date range, symbol may be delisted

1365it [11:14,  3.00it/s]

1 Failed download:
- CIG.C: No data found, symbol may be delisted

1406it [11:30,  3.25it/s]

1 Failed download:
- MKC.V: No data found, symbol may be delisted

1418it [11:36,  1.51it/s]

1 Failed download:
- Q: No data found for this date range, symbol may be delisted

1421it [11:39,  1.15it/s]

1 Failed download:
- EBR.B: No data found, symbol may be delisted

1429it [11:50,  1.55s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1446it [12:10,  1.65s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1451it [12:16,  1.20s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1471it [12:39,  1.33s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1477it [12:45,  1.11it/s]

1 Failed download:
- WSO.B: No data found, symbol may be delisted

1493it [13:02,  1.20s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1532it [13:44,  1.61s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1533it [13:45,  1.62s/it]

1 Failed download:
- I: No data found, symbol may be delisted

1537it [13:47,  1.66it/s]

1 Failed download:
- KAHC.U: No data found, symbol may be delisted

1540it [13:49,  1.42it/s]

1 Failed download:
- ASZ.U: No data found, symbol may be delisted

1542it [13:53,  1.16s/it]

1 Failed download:
- CVII.U: No data found, symbol may be delisted

1553it [14:03,  1.05s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1559it [14:12,  1.71s/it]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1572it [14:31,  1.65s/it]

2 Failed downloads:
- N: No data found for this date range, symbol may be delisted
- PR: No data found for this date range, symbol may be delisted

1603it [15:06,  1.65it/s]

1 Failed download:
- GEF.B: No data found for this date range, symbol may be delisted

1609it [15:09,  1.27it/s]

1 Failed download:
- PR: No data found for this date range, symbol may be delisted

1626it [15:22,  2.60it/s]

1 Failed download:
- IPOF.U: No data found, symbol may be delisted

1643it [15:32,  2.06it/s]

1 Failed download:
- LGF.A: No data found, symbol may be delisted

1646it [15:33,  2.26it/s]

1 Failed download:
- Q: No data found for this date range, symbol may be delisted

1649it [15:34,  2.83it/s]

1 Failed download:
- LDL: No data found, symbol may be delisted

1659it [15:39,  2.55it/s]

1 Failed download:
- PRPB.U: No data found, symbol may be delisted

1664it [15:41,  3.22it/s]

In [ ]:
stock_df = pd.concat(stock_list, axis = 1)
print(stock_df.shape)
stock_df.head()

In [ ]:
stock_df.reset_index(inplace = True)
stock_df.to_csv(out_data_path + "stock_df.csv", index =False)

* NaN인 애들 재크롤링

In [ ]:
nan_names = stock_df.columns[(stock_df.isnull().sum(axis = 0) == 1832)]
nan_names = [x.split(".")[0] for x in nan_names if type(x) == str]
nan_names = list(pd.Series(nan_names).unique())

In [ ]:
stock_list = []
col_names = []

In [ ]:
start_idx = 0

In [ ]:
for idx, code in tqdm(enumerate(nan_names[start_idx:])):
    temp = yf.download(code,start = '2015-01-01', progress = False).loc[:, ['Close']]
    try:
        temp.columns = [code]
    except ValueError:
        start_idx += 1
        continue
        
    stock_list.append(temp)
    start_idx += 1

In [ ]:
stock_df2 = pd.concat(stock_list, axis = 1)
print(stock_df2.shape)
stock_df2.head()

In [ ]:
stock_df2.Date = pd.to_datetime(stock_df2.Date)

* 종목 뽑아서 처리

In [61]:
stock_df = pd.read_csv(data_path + "stock_df.csv")
final_st_df = pd.read_csv(data_path + "final_stock_df.csv")

In [62]:
stock_df.head()

,Date,TSM,V,JPM,UNH,JNJ,BRK.B,BAC,WMT,PG,...,6628,1432,3039,9388,6695,3456,2452,7680,5073,9276
0,2014-12-31,22.379999,65.550003,62.580002,101.089996,104.570000,NaN,17.889999,85.879997,91.089996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,22.280001,66.254997,62.490002,100.779999,104.519997,NaN,17.900000,85.900002,90.440002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-05,21.740000,64.792503,60.549999,99.120003,103.790001,NaN,17.379999,85.650002,90.010002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-06,21.360001,64.375000,58.980000,98.919998,103.279999,NaN,16.860001,86.309998,89.599998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-07,21.670000,65.237503,59.070000,99.930000,105.559998,NaN,16.940001,88.599998,90.070000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
final_st_df.tail()

       etf_names                         stock_names
153604      AILV  American International Group, Inc.
153605      AILV                    S&P Global, Inc.
153606      AILV                     BlackRock, Inc.
153607      AILV            Motorola Solutions, Inc.
153608      AILV                         U.S. Dollar

In [64]:
nan_cols = list(stock_df.isnull().sum(axis=0) != 1832)

In [65]:
stock_df = stock_df.loc[:, nan_cols]

In [70]:
stock_df.head()

,Date,TSM,V,JPM,UNH,JNJ,BAC,WMT,PG,HD,...,4295,2769,2796,4098,8927,3161,2330,3719,3077,7859
0,2014-12-31,22.379999,65.550003,62.580002,101.089996,104.570000,17.889999,85.879997,91.089996,104.970001,...,NaN,NaN,NaN,2260.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,22.280001,66.254997,62.490002,100.779999,104.519997,17.900000,85.900002,90.440002,103.430000,...,NaN,NaN,NaN,2260.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-05,21.740000,64.792503,60.549999,99.120003,103.790001,17.379999,85.650002,90.010002,101.260002,...,1143.0,1370.0,508.0,2280.0,112.0,606.0,222.000000,119.0,606.0,168.0
3,2015-01-06,21.360001,64.375000,58.980000,98.919998,103.279999,16.860001,86.309998,89.599998,100.949997,...,1148.0,1361.0,504.0,2230.0,110.0,604.0,211.000000,118.0,609.0,161.0
4,2015-01-07,21.670000,65.237503,59.070000,99.930000,105.559998,16.940001,88.599998,90.070000,104.410004,...,1131.0,1351.0,508.0,2400.0,112.0,620.0,34.583302,128.0,598.0,161.0

In [209]:
def print_symbol(name, etf_name, tot_df):
    # 탐색 key value 선정
    temp_key_value = name.split(" ")
    key_value = temp_key_value[0]

    # TDM 구축
    total_name = [name]
    total_name.extend(etf_name)
    total_name.extend(list(tot_df.Name))

    tokenizer = CountVectorizer(max_features = 500000)
    tdm=tokenizer.fit_transform(total_name)

    first_select = [idx for idx, x in enumerate(total_name) if x.startswith(key_value)]
    first_select = np.array(first_select)[np.where(np.array(first_select) > len(etf_name))[0]]
    
    if len(first_select) == 2:
        output_idx = first_select[1] - len(etf_name) -1
        
    elif len(first_select) == 0:
        return "zero"
    
    else:
        sims = cosine_similarity(tdm[0], tdm[first_select])
        output_idx = first_select[np.argmax(sims)] - len(etf_name) -1

    print("name: ", name,"\nresult:", tot_df.Name[output_idx])

    return tot_df.iloc[output_idx].Symbol

In [211]:
symbol = print_symbol(final_st_df.stock_names[10], list(final_st_df.stock_names), tot_df); symbol

'zero'

* 주가 정제

In [213]:
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
from fastdtw import fastdtw

import pickle
import operator

In [218]:
scaler = StandardScaler()

In [221]:
stock_df.iloc[:, 1:] = stock_df.iloc[:, 1:].apply(lambda x: x.fillna(x.mean()),axis=0)

In [222]:
stock_df.head()

,Date,TSM,V,JPM,UNH,JNJ,BAC,WMT,PG,HD,...,4295,2769,2796,4098,8927,3161,2330,3719,3077,7859
0,2014-12-31,22.379999,65.550003,62.580002,101.089996,104.570000,17.889999,85.879997,91.089996,104.970001,...,1289.532026,1320.379747,564.28513,2260.0,165.018963,575.142484,182.612052,115.973451,645.091024,179.515033
1,2015-01-02,22.280001,66.254997,62.490002,100.779999,104.519997,17.900000,85.900002,90.440002,103.430000,...,1289.532026,1320.379747,564.28513,2260.0,165.018963,575.142484,182.612052,115.973451,645.091024,179.515033
2,2015-01-05,21.740000,64.792503,60.549999,99.120003,103.790001,17.379999,85.650002,90.010002,101.260002,...,1143.000000,1370.000000,508.00000,2280.0,112.000000,606.000000,222.000000,119.000000,606.000000,168.000000
3,2015-01-06,21.360001,64.375000,58.980000,98.919998,103.279999,16.860001,86.309998,89.599998,100.949997,...,1148.000000,1361.000000,504.00000,2230.0,110.000000,604.000000,211.000000,118.000000,609.000000,161.000000
4,2015-01-07,21.670000,65.237503,59.070000,99.930000,105.559998,16.940001,88.599998,90.070000,104.410004,...,1131.000000,1351.000000,508.00000,2400.0,112.000000,620.000000,34.583302,128.000000,598.000000,161.000000

In [256]:
tot_df.head()

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체 및 반도체 장비,571010.0
1,V,Visa Inc Class A,소프트웨어 및 IT서비스,572010.0
2,JPM,JPMorgan Chase & Co,은행,551010.0
3,UNH,UnitedHealth Group Inc,헬스케어 업체 및 서비스,561020.0
4,JNJ,Johnson & Johnson,제약,562010.0

In [223]:
sc_df = scaler.fit_transform(stock_df.iloc[:, 1:])

In [225]:
stock_df.iloc[:, 1:] = sc_df

In [226]:
stock_df.head()

,Date,TSM,V,JPM,UNH,JNJ,BAC,WMT,PG,HD,...,4295,2769,2796,4098,8927,3161,2330,3719,3077,7859
0,2014-12-31,-0.916081,-1.316624,-1.278153,-1.394382,-1.335621,-0.987985,-0.503393,-0.486761,-1.278310,...,0.000000,0.000000,0.000000,0.418451,4.660508e-16,-2.092142e-15,4.123102e-16,0.000000,0.000000,0.000000
1,2015-01-02,-0.919113,-1.303987,-1.281059,-1.397518,-1.338015,-0.986837,-0.502670,-0.513431,-1.299160,...,0.000000,0.000000,0.000000,0.418451,4.660508e-16,-2.092142e-15,4.123102e-16,0.000000,0.000000,0.000000
2,2015-01-05,-0.935487,-1.330202,-1.343708,-1.414309,-1.372960,-1.046548,-0.511707,-0.531074,-1.328539,...,-1.622380,0.315288,-2.098144,0.493375,-8.693893e-01,5.678609e-01,5.713961e-01,0.144945,-0.417059,-0.471633
3,2015-01-06,-0.947009,-1.337686,-1.394409,-1.416333,-1.397375,-1.106259,-0.487848,-0.547898,-1.332736,...,-1.567021,0.258102,-2.247252,0.306066,-9.021847e-01,5.310555e-01,4.118204e-01,0.097054,-0.385053,-0.758339
4,2015-01-07,-0.937609,-1.322226,-1.391502,-1.406116,-1.288229,-1.097073,-0.405063,-0.528613,-1.285892,...,-1.755242,0.194562,-2.098144,0.942916,-8.693893e-01,8.254983e-01,-2.147435e+00,0.575964,-0.502411,-0.758339

In [253]:
sector_df.sector.unique().shape

(59,)

In [249]:
sector_df = pd.read_csv(data_path + "sector_df.csv")
sector_df.head()

                sector etf_names                 etf_links
0  Aerospace & Defense       ITA   https://www.etf.com/ITA
1  Aerospace & Defense       XAR   https://www.etf.com/XAR
2  Aerospace & Defense       PPA   https://www.etf.com/PPA
3  Aerospace & Defense      DFEN  https://www.etf.com/DFEN
4  Aerospace & Defense      SHLD  https://www.etf.com/SHLD

In [251]:
sector_df.shape

(1662, 3)

In [250]:
final_st_df.head()

  etf_names                                     stock_names
0      KORP                                     U.S. Dollar
1      KORP  Bank of America Corporation 3.419% 20-DEC-2028
2      KORP               Morgan Stanley 2.188% 28-APR-2026
3      KORP            HSBC Holdings Plc 2.099% 04-JUN-2026
4      KORP  Verizon Communications Inc. 4.329% 21-SEP-2028

In [252]:
final_st_df.shape

(153609, 2)

In [254]:
sector_df = pd.merge(sector_df, final_st_df, on = "etf_names", how = "inner")

In [255]:
sector_df.head()

,sector,etf_names,etf_links,stock_names
0,Artificial Intelligence,BOTZ,https://www.etf.com/BOTZ,NVIDIA Corporation
1,Artificial Intelligence,BOTZ,https://www.etf.com/BOTZ,"Intuitive Surgical, Inc."
2,Artificial Intelligence,BOTZ,https://www.etf.com/BOTZ,"Upstart Holdings, Inc."
3,Artificial Intelligence,BOTZ,https://www.etf.com/BOTZ,"Azenta, Inc."
4,Artificial Intelligence,BOTZ,https://www.etf.com/BOTZ,John Bean Technologies Corporation

In [247]:
group_df = sector_df.groupby(["sector", "stock_names"])['etf_names'].count().reset_index()

In [248]:
group_df.head()

                    sector             stock_names  etf_names
0  Artificial Intelligence                2U, Inc.          1
1  Artificial Intelligence  3D Systems Corporation          4
2  Artificial Intelligence              3M Company          1
3  Artificial Intelligence                ABB Ltd.          3
4  Artificial Intelligence           ABIOMED, Inc.          1

In [ ]:
code_list = df_theme.loc[df_theme.테마 == unique_theme[1]].종목코드.tolist()
code_list = df_theme.종목코드.tolist()

In [ ]:
code_dict = {x:{} for x in df_theme.종목코드.tolist()}

In [ ]:
def ex_nan(inputs) :
  return(np.array(inputs)[[~np.isnan(x) for x in np.array(inputs)]])

In [ ]:
for code in tqdm(code_list):
  try:
    a = theme_in_sc.loc[:, [code]]
  except KeyError:
    continue
  b = theme_in_sc.loc[:, ~theme_in_sc.columns.isin([code])]

  for code_b in b.columns:
    dist, path = fastdtw(ex_nan(a), ex_nan(b.loc[:,code_b]))
    if dist == 0:
      continue
    code_dict[code][code_b] = dist

100%|██████████| 124/124 [02:35<00:00,  1.25s/it]

In [ ]:
'''with open('code_dict.pickle', 'wb') as f:
  pickle.dump(code_dict, f)'''

In [ ]:
with open('code_dict.pickle', 'rb') as f:
  code_dict = pickle.load(f)

In [ ]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [ ]:
unique_theme

array(['빅테크-A(미국)', '빅테크-C(중국)', '전기차_2차전지(미국, 중국)', 'NFT_코인(미국, 중국)',
       '메타버스', '우주/항공', '백신/치료', '뷰티/운동', '럭셔리', '여행', '프랜차이즈'],
      dtype=object)

In [ ]:
import re

In [ ]:
for idx_0, th in tqdm(enumerate(unique_theme)):
  th_code_list = df_theme.loc[df_theme.테마 == th, "종목코드"]
  th = re.sub("/","_",th)
  for idx, th_code in enumerate(th_code_list):
    if len(list(code_dict[th_code].keys())) == 0:
      continue
    sorted_items = sorted(code_dict[th_code].items(), key=operator.itemgetter(1))
    names = [x[0] for x in sorted_items]
    sims = [x[1] for x in sorted_items]
    names_list = [tot_df.loc[tot_df.Symbol == x, "Name"].values[0] for x in names]

    if idx == 0:
      sector_dict = {"code":names, "name":names_list, th_code+"dtw":sims}
      sector_df = pd.DataFrame.from_dict(sector_dict)
    else:
      sector_dict1 = {"code":names, "name":names_list, th_code+"dtw":sims}
      sector_df1 = pd.DataFrame.from_dict(sector_dict1)
      sector_df = pd.merge(sector_df, sector_df1, on = ["code", "name"], how = "inner")

  sector_df['mean'] = sector_df.iloc[:, 2:].mean(axis = 1)
  sector_df.to_csv(th + "_sector_df.csv", index = False)
  globals()['sector_' + str(idx_0)] = sector_df

11it [02:36, 14.19s/it]

In [ ]:
sector_6.sort_values("mean")

      code                                name  ...      MRKdtw        mean
19    PAYX                         Paychex Inc  ...   58.536240   45.040374
7     FFIV                              F5 Inc  ...   69.738214   49.064369
28     LIN                           Linde PLC  ...   64.927649   49.258328
25    MORN                     Morningstar Inc  ...   66.520919   49.774828
27    FAST                         Fastenal Co  ...   66.869108   50.092675
...    ...                                 ...  ...         ...         ...
1177   LCI                 Lannett Company Inc  ...  212.484793  235.032919
1196  PSFE                         Paysafe Ltd  ...  197.133123  235.233136
1171  TARO  Taro Pharmaceutical Industries Ltd  ...  214.919785  235.348470
1170    ML               MoneyLion Inc Class A  ...  221.104151  238.280578
1176  NTCO          Natura & Co Holding SA ADR  ...  225.871838  241.664480

[1198 rows x 5 columns]

In [ ]:
sector_df.sort_values("mean")

      code                           name  ...      QSRdtw        mean
234    GFS            Globalfoundries Inc  ...   65.049437   49.040419
371   OLPX           Olaplex Holdings Inc  ...   71.337364   57.069387
286   INFA        Informatica Inc Class A  ...   68.049955   62.492735
320    LTH   Life Time Group Holdings Inc  ...   71.192549   64.474120
380    AKA        AKA Brands Holding Corp  ...   71.771825   66.213662
...    ...                            ...  ...         ...         ...
1032  DELL  Dell Technologies Inc Class C  ...   72.238178  156.217974
254    RRD         RR Donnelley & Sons Co  ...  219.657424  159.408628
176   DLTR                Dollar Tree Inc  ...  236.925420  161.252306
265   NPTN              NeoPhotonics Corp  ...  223.253765  162.345457
236    ROG                    Rogers Corp  ...  252.226635  171.599928

[1193 rows x 10 columns]

# Using FDR

In [ ]:
theme_list = list(df_theme.종목코드)

In [ ]:
theme_stocks = []
theme_names = []

In [ ]:
np.where(code == np.array(theme_list))

(array([86]),)

In [ ]:
for code in theme_list[86:]:
  try:
    theme_stocks.append(fdr.DataReader(code, '2021-06-01', '2022-01-31')['Close'])
  except KeyError:
    continue
  except ValueError:
    continue

  theme_names.append(code)

In [ ]:
theme_stocks_df = pd.concat(theme_stocks, axis = 1)
theme_stocks_df.columns = theme_names

In [ ]:
theme_stocks_df.head()

     AAPL     GOOG      FB    MSFT  ...      CMG    QSR    WING    FAT
0  124.28  2429.81  329.13  247.40  ...  1361.13  70.47  140.25  10.55
1  125.06  2421.28  329.15  247.30  ...  1362.39  69.73  142.23  10.89
2  123.54  2404.61  326.04  245.71  ...  1333.04  69.12  137.55  10.78
3  125.89  2451.76  330.35  250.79  ...  1326.34  69.18  137.80  11.34
4  125.90  2466.09  336.58  253.81  ...  1323.26  68.67  139.91  11.60

[5 rows x 109 columns]

In [ ]:
# theme_stocks_df.to_csv("theme_stocks.csv", index =False)

In [ ]:
theme_stocks_df = pd.read_csv("theme_stocks.csv")

In [ ]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [ ]:
tot_df.head()

  Symbol  ... IndustryCode
0    TSM  ...       571010
1      V  ...       572010
2    JPM  ...       551010
3    UNH  ...       561020
4    JNJ  ...       562010

[5 rows x 4 columns]

In [ ]:
industry_list = tot_df.loc[tot_df.Symbol.isin(df_theme.종목코드),:].Industry.unique()

In [ ]:
tot_df_in = tot_df.loc[tot_df.Industry.isin(industry_list)]; tot_df_in.shape

(8065, 4)

In [ ]:
theme_in = []
theme_names = []

In [ ]:
for code in tqdm(tot_df_in.Symbol):
  try:
    theme_in.append(fdr.DataReader(code, '2021-06-01', '2022-01-31')['Close'])
  except KeyError:
    continue
  except ValueError:
    continue

  theme_names.append(code)

100%|██████████| 8065/8065 [1:10:11<00:00,  1.91it/s]

In [ ]:
theme_in_df = pd.concat(theme_in, axis = 1)
theme_in_df.columns = theme_names

In [ ]:
# theme_in_df.to_csv("theme_in_df.csv", index = False)

In [ ]:
theme_in_df = pd.read_csv("theme_in_df.csv")

In [ ]:
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
from fastdtw import fastdtw

import pickle
import operator

In [ ]:
scaler = StandardScaler()

In [ ]:
theme_in_sc = scaler.fit_transform(theme_in_df)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:985: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:990: RuntimeWarning: invalid value encountered in true_divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:1020: RuntimeWarning: invalid value encountered in true_divide
  new_unnormalized_variance -= correction ** 2 / new_sample_count

In [ ]:
theme_in_sc = pd.DataFrame(theme_in_sc, columns = theme_in_df.columns)

In [ ]:
theme_in_sc.shape

(175, 1217)

In [ ]:
theme_in_sc.head()

        TSM         V       JNJ        PG  ...  002365    002630    002620  000687
0 -0.011203  0.164016 -0.312882 -1.461858  ...     NaN  2.188377  1.663012     NaN
1  0.072681  0.394277 -0.179134 -1.394935  ...     NaN  2.099248  1.677423     NaN
2 -0.333394  0.276487 -0.211074 -1.119164  ...     NaN  2.158667  1.648600     NaN
3  0.179442  0.430753 -0.225047 -1.107625  ...     NaN  2.336925  1.677423     NaN
4 -0.066490  0.520426 -0.450623 -1.053394  ...     NaN  2.069538  1.691835     NaN

[5 rows x 1217 columns]

In [ ]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [ ]:
unique_theme = df_theme.테마.unique()
unique_theme

array(['빅테크-A(미국)', '빅테크-C(중국)', '전기차_2차전지(미국, 중국)', 'NFT_코인(미국, 중국)',
       '메타버스', '우주/항공', '백신/치료', '뷰티/운동', '럭셔리', '여행', '프랜차이즈'],
      dtype=object)

In [ ]:
code_list = df_theme.loc[df_theme.테마 == unique_theme[1]].종목코드.tolist()
code_list = df_theme.종목코드.tolist()

In [ ]:
code_dict = {x:{} for x in df_theme.종목코드.tolist()}

In [ ]:
def ex_nan(inputs) :
  return(np.array(inputs)[[~np.isnan(x) for x in np.array(inputs)]])

In [ ]:
for code in tqdm(code_list):
  try:
    a = theme_in_sc.loc[:, [code]]
  except KeyError:
    continue
  b = theme_in_sc.loc[:, ~theme_in_sc.columns.isin([code])]

  for code_b in b.columns:
    dist, path = fastdtw(ex_nan(a), ex_nan(b.loc[:,code_b]))
    if dist == 0:
      continue
    code_dict[code][code_b] = dist

100%|██████████| 124/124 [02:35<00:00,  1.25s/it]

In [ ]:
'''with open('code_dict.pickle', 'wb') as f:
  pickle.dump(code_dict, f)'''

In [ ]:
with open('code_dict.pickle', 'rb') as f:
  code_dict = pickle.load(f)

In [ ]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [ ]:
unique_theme

array(['빅테크-A(미국)', '빅테크-C(중국)', '전기차_2차전지(미국, 중국)', 'NFT_코인(미국, 중국)',
       '메타버스', '우주/항공', '백신/치료', '뷰티/운동', '럭셔리', '여행', '프랜차이즈'],
      dtype=object)

In [ ]:
import re

In [ ]:
for idx_0, th in tqdm(enumerate(unique_theme)):
  th_code_list = df_theme.loc[df_theme.테마 == th, "종목코드"]
  th = re.sub("/","_",th)
  for idx, th_code in enumerate(th_code_list):
    if len(list(code_dict[th_code].keys())) == 0:
      continue
    sorted_items = sorted(code_dict[th_code].items(), key=operator.itemgetter(1))
    names = [x[0] for x in sorted_items]
    sims = [x[1] for x in sorted_items]
    names_list = [tot_df.loc[tot_df.Symbol == x, "Name"].values[0] for x in names]

    if idx == 0:
      sector_dict = {"code":names, "name":names_list, th_code+"dtw":sims}
      sector_df = pd.DataFrame.from_dict(sector_dict)
    else:
      sector_dict1 = {"code":names, "name":names_list, th_code+"dtw":sims}
      sector_df1 = pd.DataFrame.from_dict(sector_dict1)
      sector_df = pd.merge(sector_df, sector_df1, on = ["code", "name"], how = "inner")

  sector_df['mean'] = sector_df.iloc[:, 2:].mean(axis = 1)
  sector_df.to_csv(th + "_sector_df.csv", index = False)
  globals()['sector_' + str(idx_0)] = sector_df

11it [02:36, 14.19s/it]

In [ ]:
sector_6.sort_values("mean")

      code                                name  ...      MRKdtw        mean
19    PAYX                         Paychex Inc  ...   58.536240   45.040374
7     FFIV                              F5 Inc  ...   69.738214   49.064369
28     LIN                           Linde PLC  ...   64.927649   49.258328
25    MORN                     Morningstar Inc  ...   66.520919   49.774828
27    FAST                         Fastenal Co  ...   66.869108   50.092675
...    ...                                 ...  ...         ...         ...
1177   LCI                 Lannett Company Inc  ...  212.484793  235.032919
1196  PSFE                         Paysafe Ltd  ...  197.133123  235.233136
1171  TARO  Taro Pharmaceutical Industries Ltd  ...  214.919785  235.348470
1170    ML               MoneyLion Inc Class A  ...  221.104151  238.280578
1176  NTCO          Natura & Co Holding SA ADR  ...  225.871838  241.664480

[1198 rows x 5 columns]

In [ ]:
sector_df.sort_values("mean")

      code                           name  ...      QSRdtw        mean
234    GFS            Globalfoundries Inc  ...   65.049437   49.040419
371   OLPX           Olaplex Holdings Inc  ...   71.337364   57.069387
286   INFA        Informatica Inc Class A  ...   68.049955   62.492735
320    LTH   Life Time Group Holdings Inc  ...   71.192549   64.474120
380    AKA        AKA Brands Holding Corp  ...   71.771825   66.213662
...    ...                            ...  ...         ...         ...
1032  DELL  Dell Technologies Inc Class C  ...   72.238178  156.217974
254    RRD         RR Donnelley & Sons Co  ...  219.657424  159.408628
176   DLTR                Dollar Tree Inc  ...  236.925420  161.252306
265   NPTN              NeoPhotonics Corp  ...  223.253765  162.345457
236    ROG                    Rogers Corp  ...  252.226635  171.599928

[1193 rows x 10 columns]