In [1]:
from tqdm import tqdm

import FinanceDataReader as fdr
import pandas_datareader as pdr
import yfinance as yf
import numpy as np
import pandas as pd
import re

# Data load

In [15]:
import os
os.getcwd()

'C:\\Users\\PC\\OneDrive\\문서\\GitHub\\Korea_Investment_and_Securities\\scripts\\ipynb'

In [16]:
data_path = "C:\\Users\\PC\\OneDrive\\문서\\GitHub\\Korea_Investment_and_Securities\\datasets\\"

In [17]:
tot_df = pd.read_csv(data_path +"tot_df.csv", encoding = "cp949")
df_theme = pd.read_csv(data_path +'sector.csv', encoding = "cp949")
df_theme = df_theme.dropna()

In [ ]:
# tot_df.to_csv("tot_df.csv", index=False)

In [18]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [19]:
tot_df.head()

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체 및 반도체 장비,571010.0
1,V,Visa Inc Class A,소프트웨어 및 IT서비스,572010.0
2,JPM,JPMorgan Chase & Co,은행,551010.0
3,UNH,UnitedHealth Group Inc,헬스케어 업체 및 서비스,561020.0
4,JNJ,Johnson & Johnson,제약,562010.0

# Name to Symbol

- 가장 유사한 이름 탐색

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
etf_name = ["Berkshire Hathaway Inc. Class B",
"JPMorgan Chase & Co.", 
"Citigroup Inc.",
"Goldman Sachs Group, Inc."]

In [12]:
def print_symbol(name, etf_name, tot_df):
  # 탐색 key value 선정
  key_value = name.split(" ")[0]

  # TDM 구축
  total_name = []
  total_name.extend(etf_name)
  total_name.extend(list(tot_df.Name))

  tokenizer = CountVectorizer()
  tdm=tokenizer.fit_transform(total_name)

  first_select = [idx for idx, x in enumerate(total_name) if x.startswith(key_value)]

  if len(first_select) == 2:
    output_idx = first_select[1] - len(etf_name)
  else:
    sims = cosine_similarity(tdm[first_select[0]], tdm[first_select[1:]])
    output_idx = first_select[1:][np.argmax(sims)] - len(etf_name)

  print("name: ", name,"\nresult:", tot_df.Name[output_idx])

  return tot_df.iloc[output_idx].Symbol

In [ ]:
symbol = print_symbol(etf_name[3], etf_name, tot_df); symbol

name:  Goldman Sachs Group, Inc.
result: Goldman Sachs Group Inc

'GS'

* yfinance 기준 주가 데이터 수집

In [20]:
tot_df.head(10)

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체 및 반도체 장비,571010.0
1,V,Visa Inc Class A,소프트웨어 및 IT서비스,572010.0
2,JPM,JPMorgan Chase & Co,은행,551010.0
3,UNH,UnitedHealth Group Inc,헬스케어 업체 및 서비스,561020.0
4,JNJ,Johnson & Johnson,제약,562010.0
5,BRK.B,Berkshire Hathaway Inc Class B,복합 기업,544010.0
6,BAC,Bank of America Corp,은행,551010.0
7,WMT,Walmart Inc,식품 및 약품소매,543010.0
8,PG,Procter & Gamble Co,"개인, 가정 용품 및 서비스",542010.0
9,HD,Home Depot Inc,전문품 상점,534030.0

In [23]:
stock_list = []
col_names = []

In [24]:
start_idx = 0

In [ ]:
for idx, code in tqdm(enumerate(tot_df.Symbol[start_idx:])):
    temp = yf.download(code,start = '2015-01-01', progress = False).loc[:, ['Close']]
    try:
        temp.columns = [code]
    except ValueError:
        start_idx += 1
        continue
        
    stock_list.append(temp)
    start_idx += 1

6it [00:02,  2.85it/s]

1 Failed download:
- BRK.B: No data found, symbol may be delisted

14it [00:05,  2.63it/s]

1 Failed download:
- BRK.A: No data found, symbol may be delisted

16it [00:06,  2.49it/s]

In [ ]:
stock_df = pd.concat(stock_list, axis = 1)
print(stock_df.shape)
stock_df.head()

In [ ]:
stock_df.reset_index(inplace = True)
stock_df.to_csv("stock_df.csv", index = False)

# Using FDR

In [ ]:
theme_list = list(df_theme.종목코드)

In [ ]:
theme_stocks = []
theme_names = []

In [ ]:
np.where(code == np.array(theme_list))

(array([86]),)

In [ ]:
for code in theme_list[86:]:
  try:
    theme_stocks.append(fdr.DataReader(code, '2021-06-01', '2022-01-31')['Close'])
  except KeyError:
    continue
  except ValueError:
    continue

  theme_names.append(code)

In [ ]:
theme_stocks_df = pd.concat(theme_stocks, axis = 1)
theme_stocks_df.columns = theme_names

In [ ]:
theme_stocks_df.head()

     AAPL     GOOG      FB    MSFT  ...      CMG    QSR    WING    FAT
0  124.28  2429.81  329.13  247.40  ...  1361.13  70.47  140.25  10.55
1  125.06  2421.28  329.15  247.30  ...  1362.39  69.73  142.23  10.89
2  123.54  2404.61  326.04  245.71  ...  1333.04  69.12  137.55  10.78
3  125.89  2451.76  330.35  250.79  ...  1326.34  69.18  137.80  11.34
4  125.90  2466.09  336.58  253.81  ...  1323.26  68.67  139.91  11.60

[5 rows x 109 columns]

In [ ]:
# theme_stocks_df.to_csv("theme_stocks.csv", index =False)

In [ ]:
theme_stocks_df = pd.read_csv("theme_stocks.csv")

In [ ]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [ ]:
tot_df.head()

  Symbol  ... IndustryCode
0    TSM  ...       571010
1      V  ...       572010
2    JPM  ...       551010
3    UNH  ...       561020
4    JNJ  ...       562010

[5 rows x 4 columns]

In [ ]:
industry_list = tot_df.loc[tot_df.Symbol.isin(df_theme.종목코드),:].Industry.unique()

In [ ]:
tot_df_in = tot_df.loc[tot_df.Industry.isin(industry_list)]; tot_df_in.shape

(8065, 4)

In [ ]:
theme_in = []
theme_names = []

In [ ]:
for code in tqdm(tot_df_in.Symbol):
  try:
    theme_in.append(fdr.DataReader(code, '2021-06-01', '2022-01-31')['Close'])
  except KeyError:
    continue
  except ValueError:
    continue

  theme_names.append(code)

100%|██████████| 8065/8065 [1:10:11<00:00,  1.91it/s]

In [ ]:
theme_in_df = pd.concat(theme_in, axis = 1)
theme_in_df.columns = theme_names

In [ ]:
# theme_in_df.to_csv("theme_in_df.csv", index = False)

In [ ]:
theme_in_df = pd.read_csv("theme_in_df.csv")

In [ ]:
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
from fastdtw import fastdtw

import pickle
import operator

In [ ]:
scaler = StandardScaler()

In [ ]:
theme_in_sc = scaler.fit_transform(theme_in_df)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:985: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:990: RuntimeWarning: invalid value encountered in true_divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.7/dist-packages/sklearn/utils/extmath.py:1020: RuntimeWarning: invalid value encountered in true_divide
  new_unnormalized_variance -= correction ** 2 / new_sample_count

In [ ]:
theme_in_sc = pd.DataFrame(theme_in_sc, columns = theme_in_df.columns)

In [ ]:
theme_in_sc.shape

(175, 1217)

In [ ]:
theme_in_sc.head()

        TSM         V       JNJ        PG  ...  002365    002630    002620  000687
0 -0.011203  0.164016 -0.312882 -1.461858  ...     NaN  2.188377  1.663012     NaN
1  0.072681  0.394277 -0.179134 -1.394935  ...     NaN  2.099248  1.677423     NaN
2 -0.333394  0.276487 -0.211074 -1.119164  ...     NaN  2.158667  1.648600     NaN
3  0.179442  0.430753 -0.225047 -1.107625  ...     NaN  2.336925  1.677423     NaN
4 -0.066490  0.520426 -0.450623 -1.053394  ...     NaN  2.069538  1.691835     NaN

[5 rows x 1217 columns]

In [ ]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [ ]:
unique_theme = df_theme.테마.unique()
unique_theme

array(['빅테크-A(미국)', '빅테크-C(중국)', '전기차_2차전지(미국, 중국)', 'NFT_코인(미국, 중국)',
       '메타버스', '우주/항공', '백신/치료', '뷰티/운동', '럭셔리', '여행', '프랜차이즈'],
      dtype=object)

In [ ]:
code_list = df_theme.loc[df_theme.테마 == unique_theme[1]].종목코드.tolist()
code_list = df_theme.종목코드.tolist()

In [ ]:
code_dict = {x:{} for x in df_theme.종목코드.tolist()}

In [ ]:
def ex_nan(inputs) :
  return(np.array(inputs)[[~np.isnan(x) for x in np.array(inputs)]])

In [ ]:
for code in tqdm(code_list):
  try:
    a = theme_in_sc.loc[:, [code]]
  except KeyError:
    continue
  b = theme_in_sc.loc[:, ~theme_in_sc.columns.isin([code])]

  for code_b in b.columns:
    dist, path = fastdtw(ex_nan(a), ex_nan(b.loc[:,code_b]))
    if dist == 0:
      continue
    code_dict[code][code_b] = dist

100%|██████████| 124/124 [02:35<00:00,  1.25s/it]

In [ ]:
'''with open('code_dict.pickle', 'wb') as f:
  pickle.dump(code_dict, f)'''

In [ ]:
with open('code_dict.pickle', 'rb') as f:
  code_dict = pickle.load(f)

In [ ]:
df_theme.head()

          테마    해당 주식  종목코드
0  빅테크-A(미국)       애플  AAPL
1  빅테크-A(미국)      알파벳  GOOG
2  빅테크-A(미국)       메타    FB
3  빅테크-A(미국)  마이크로소프트  MSFT
4  빅테크-A(미국)      아마존  AMZN

In [ ]:
unique_theme

array(['빅테크-A(미국)', '빅테크-C(중국)', '전기차_2차전지(미국, 중국)', 'NFT_코인(미국, 중국)',
       '메타버스', '우주/항공', '백신/치료', '뷰티/운동', '럭셔리', '여행', '프랜차이즈'],
      dtype=object)

In [ ]:
import re

In [ ]:
for idx_0, th in tqdm(enumerate(unique_theme)):
  th_code_list = df_theme.loc[df_theme.테마 == th, "종목코드"]
  th = re.sub("/","_",th)
  for idx, th_code in enumerate(th_code_list):
    if len(list(code_dict[th_code].keys())) == 0:
      continue
    sorted_items = sorted(code_dict[th_code].items(), key=operator.itemgetter(1))
    names = [x[0] for x in sorted_items]
    sims = [x[1] for x in sorted_items]
    names_list = [tot_df.loc[tot_df.Symbol == x, "Name"].values[0] for x in names]

    if idx == 0:
      sector_dict = {"code":names, "name":names_list, th_code+"dtw":sims}
      sector_df = pd.DataFrame.from_dict(sector_dict)
    else:
      sector_dict1 = {"code":names, "name":names_list, th_code+"dtw":sims}
      sector_df1 = pd.DataFrame.from_dict(sector_dict1)
      sector_df = pd.merge(sector_df, sector_df1, on = ["code", "name"], how = "inner")

  sector_df['mean'] = sector_df.iloc[:, 2:].mean(axis = 1)
  sector_df.to_csv(th + "_sector_df.csv", index = False)
  globals()['sector_' + str(idx_0)] = sector_df

11it [02:36, 14.19s/it]

In [ ]:
sector_6.sort_values("mean")

      code                                name  ...      MRKdtw        mean
19    PAYX                         Paychex Inc  ...   58.536240   45.040374
7     FFIV                              F5 Inc  ...   69.738214   49.064369
28     LIN                           Linde PLC  ...   64.927649   49.258328
25    MORN                     Morningstar Inc  ...   66.520919   49.774828
27    FAST                         Fastenal Co  ...   66.869108   50.092675
...    ...                                 ...  ...         ...         ...
1177   LCI                 Lannett Company Inc  ...  212.484793  235.032919
1196  PSFE                         Paysafe Ltd  ...  197.133123  235.233136
1171  TARO  Taro Pharmaceutical Industries Ltd  ...  214.919785  235.348470
1170    ML               MoneyLion Inc Class A  ...  221.104151  238.280578
1176  NTCO          Natura & Co Holding SA ADR  ...  225.871838  241.664480

[1198 rows x 5 columns]

In [ ]:
sector_df.sort_values("mean")

      code                           name  ...      QSRdtw        mean
234    GFS            Globalfoundries Inc  ...   65.049437   49.040419
371   OLPX           Olaplex Holdings Inc  ...   71.337364   57.069387
286   INFA        Informatica Inc Class A  ...   68.049955   62.492735
320    LTH   Life Time Group Holdings Inc  ...   71.192549   64.474120
380    AKA        AKA Brands Holding Corp  ...   71.771825   66.213662
...    ...                            ...  ...         ...         ...
1032  DELL  Dell Technologies Inc Class C  ...   72.238178  156.217974
254    RRD         RR Donnelley & Sons Co  ...  219.657424  159.408628
176   DLTR                Dollar Tree Inc  ...  236.925420  161.252306
265   NPTN              NeoPhotonics Corp  ...  223.253765  162.345457
236    ROG                    Rogers Corp  ...  252.226635  171.599928

[1193 rows x 10 columns]

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import requests

In [ ]:
req = requests.get("https://www.etf.com/SPTL")

In [ ]:
req.status_code

503

In [ ]:
req.text

'<!DOCTYPE HTML>\n<html lang="en-US">\n<head>\n  <meta charset="UTF-8" />\n  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />\n  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />\n  <meta name="robots" content="noindex, nofollow" />\n  <meta name="viewport" content="width=device-width,initial-scale=1" />\n  <title>Just a moment...</title>\n  <style type="text/css">\n    html, body {width: 100%; height: 100%; margin: 0; padding: 0;}\n    body {background-color: #ffffff; color: #000000; font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue",Arial, sans-serif; font-size: 16px; line-height: 1.7em;-webkit-font-smoothing: antialiased;}\n    h1 { text-align: center; font-weight:700; margin: 16px 0; font-size: 32px; color:#000000; line-height: 1.25;}\n    p {font-size: 20px; font-weight: 400; margin: 8px 0;}\n    p, .attribution, {text-align: center;}\n    #spinner {margin: 0 auto 30px auto; display: block;}\n    .attribution {margin-top: 32px;}\n    @keyframes fader     { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }\n    @-webkit-keyframes fader { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }\n    #cf-bubbles > .bubbles { animation: fader 1.6s infinite;}\n    #cf-bubbles > .bubbles:nth-child(2) { animation-delay: .2s;}\n    #cf-bubbles > .bubbles:nth-child(3) { animation-delay: .4s;}\n    .bubbles { background-color: #f58220; width:20px; height: 20px; margin:2px; border-radius:100%; display:inline-block; }\n    a { color: #2c7cb0; text-decoration: none; -moz-transition: color 0.15s ease; -o-transition: color 0.15s ease; -webkit-transition: color 0.15s ease; transition: color 0.15s ease; }\n    a:hover{color: #f4a15d}\n    .attribution{font-size: 16px; line-height: 1.5;}\n    .ray_id{display: block; margin-top: 8px;}\n    #cf-wrapper #challenge-form { padding-top:25px; padding-bottom:25px; }\n    #cf-hcaptcha-container { text-align:center;}\n    #cf-hcaptcha-container iframe { display: inline-block;}\n  </style>\n\n      <meta http-equiv="refresh" content="35">\n  <script type="text/javascript">\n    //<![CDATA[\n    (function(){\n      \n      window._cf_chl_opt={\n        cvId: "2",\n        cType: "non-interactive",\n        cNounce: "16786",\n        cRay: "6de42134ce0f6402",\n        cHash: "92fa5e42028d489",\n        cPMDTk: "40kXTRXggcBHppQhqH_TDlstueYdt1BgF_PEkPjsUMI-1644986760-0-gaNycGzNBz0",\n        cUPMDTk: "\\/SPTL?__cf_chl_tk=40kXTRXggcBHppQhqH_TDlstueYdt1BgF_PEkPjsUMI-1644986760-0-gaNycGzNBz0",\n        cFPWv: "b",\n        cTTimeMs: "1000",\n        cRq: {\n          ru: "aHR0cHM6Ly93d3cuZXRmLmNvbS9TUFRM",\n          ra: "cHl0aG9uLXJlcXVlc3RzLzIuMjMuMA==",\n          rm: "R0VU",\n          d: "Zw/sp9baIE4PE7LdNcj+DkUHnzASP9kfx7yFxwK03H3PoJkxwCI4CrHdJt8mi+S4EZKW/FdPagj7VsCKoYyH/5v7iorEHhWds728pIUISJwH9fQpM/w1rpbXu8BsC9RlfWnXGJ+r+DRZBl4IryhwilvlPL/Fe3Casdsz1CshwwMVdQmfovgMV3vYQ0jwcL+hqYcoM3ReAeBjsZfBDvypQRcBvbNrpE3C+K+SXSnsuDU+uaL3RBVERMVkwkGmXHIyhSkt+dAh2TvQoGuFiedK3bw3v0j/9yIF6iub4p35S95fICKAzX22Cx6b9QRUq+D0Lss7UB469RFx5y48W2leC8j1Ng8c4eru6jDoKYqODt5SIhWLsIYRpm6JR6kqFnYxJAo3UDpAGNNozoxvjx7kh1vGtFn6zQvq9tjjgSLE+u0MP8MIZiZS8PYNXabNdS7HJBoKGwqfqVeKVI+QNydRTJlO3MoLWCxaBSVizuZ0sFRqcp/kN+967d1CGm2sx0LgzDsgxwVcwZ4mjvUer+FY6bKzd0YtRkUhNmjHa9I21qS7vkYz11sgTuybnYVgzIYz",\n          t: "MTY0NDk4Njc2MC40NTMwMDA=",\n          m: "g27vPJvTL73qx7mKn0FezK3aCVFNCIDr4q4iFIhPZFQ=",\n          i1: "FBdjLa5CoPtbrNAawVET2w==",\n          i2: "oW2pqU+0hz3H5lwtuIlWfg==",\n          zh: "hF9ypNcfokmvDM5lFSsRYQpx8i6qiCikeq6KFiPPWDo=",\n          uh: "7miS0Xxj9JuMfUL1dJ1m1OOYUPnyhcctTsOqdlLYMgc=",\n          hh: "K9hsobX2nTh9tka5zoBWMd0xkyeXV4FHTdW4xYgFegA=",\n        }\n      }\n      window._cf_chl_enter = function(){window._cf_chl_opt.p=1};\n      \n    })();\n    //]]>\n  </script>\n  \n\n</head>\n<body>\n  <table width="100%" height="100%" cellpadding="20">\n    <tr>\n      <td align="center" valign="middle">\n          <div class="cf-browser-verification cf-im-under-attack">\n  <noscript>\n    <h1 data-translate="turn_on_js" style="color:#bd2426;">Please turn JavaScript on and reload the page.</h1>\n  </noscript>\n  <div id="cf-content" style="display:none">\n    \n    <div id="cf-bubbles">\n      <div class="bubbles"></div>\n      <div class="bubbles"></div>\n      <div class="bubbles"></div>\n    </div>\n    <h1><span data-translate="checking_browser">Checking your browser before accessing</span> www.etf.com.</h1>\n    \n    <div id="no-cookie-warning" class="cookie-warning" data-translate="turn_on_cookies" style="display:none">\n      <p data-translate="turn_on_cookies" style="color:#bd2426;">Please enable Cookies and reload the page.</p>\n    </div>\n    <p data-translate="process_is_automatic">This process is automatic. Your browser will redirect to your requested content shortly.</p>\n    <p data-translate="allow_5_secs" id="cf-spinner-allow-5-secs" >Please allow up to 5 seconds&hellip;</p>\n    <p data-translate="redirecting" id="cf-spinner-redirecting" style="display:none">Redirecting&hellip;</p>\n  </div>\n   \n  <form class="challenge-form" id="challenge-form" action="/SPTL?__cf_chl_f_tk=40kXTRXggcBHppQhqH_TDlstueYdt1BgF_PEkPjsUMI-1644986760-0-gaNycGzNBz0" method="POST" enctype="application/x-www-form-urlencoded">\n    <input type="hidden" name="md" value="rNoen4W6pnFqA0S.hpBg4xBsAEvYunegg7CWP4huPZ4-1644986760-0-AaSMr4UUVhOUkeE1bLWUHKldxjX6XZXMo9GiQHPsQw_X-GUMpH95uGbth09Bh-xXkY0akOiTuJGqhhjZDEmk7-zqib3OMzQDligpb_LaEvqbye9WoiF7dl94XW-UTNbIBZApX-49tiQIxnoYLS2lg-hm9J89XxkO-cnsRhBgh7KD7R1T6kIvsoAgq9wiYyVnpDMh44jDycqcHW6xdNfWz1YCvniDcfVL8Gf09ls_r4wippMnLj1Ux5zT3HXFKd4rO3VZs4yo2zIuKfhIa3A9JjwlsagMTAoRWBU7Yay1QJt6nYRDJUkHVx1Orhc83xIU9IeGfAuJhFzkNccwhiy9WOY_2PcriJPvt5xUHv3AwjAve7k5-GU9r1RxblE0PQJp_FzGInS0bxZqz_LL8faWfjfTwNgtvwA7oHSTFA_8hm1fB4ETzOw_WKUcgJdy7LHLH1rZ2VR_rAcLv7aOgiaLxSiXo3rT0mKYrVBk38Pj5wF2vA_eI482LW49FNXQeMOArwf0ATmHWxIdUnQmcU2ah9wWOjTwkn35Kf3loh509CWGE9LZDmGdB7VMn55MU24N5Go5jG_2kanJY_zYOTkrLJ8Fh_k2x9ttmdD7FmN4B3TW7RHRaT1C7tcpTu5zkFsbRw" />\n    <input type="hidden" name="r" value="Evb0HGY1806mmMex_7EmbkgEe0ELGabtAFaey5M6VcM-1644986760-0-AURXWV1zkxX4iuBs5nsQ5dzjBCElVSbrnuyj51+y7/oRq0BtJSevqFIqVPfmoJE5BcZz9OsyaB8CAvMrEhIcRBghzSR+yVnoMYb8xvJT521aGqKhnhAV+Ru0ZwJoYfoM8ClQfN0UtnfO+Xx+DAKdvydV1KGDj8ZjlnKb3l5vxspUBicSOK+V8ykK7vAeefboT1yEEDtn1Fs2/dcWMVjUdlbqiHRRgbUEgQvOCc9ny88ea3AsgtBEdGSZlhqq6epir5pB6RVC5cOmw1QYXv0r0MRBpGr8qOq+MQm4xp3yi5opyVnb7hrlICqusNSgEcw4DYd7DMW6XHyFu7sHY3pkX7TQyStfGCfAA74A9uoSK3P4YwBmkzTjREsWcm5Fq4rSoa0no3eNlUBp+0yPjn10iN9oCP6sXpzIBleDHGT1rCHzxmljmCgwfCbmsfTORbNXQrIFYpL0aH91m6kA2iD8kTT+IP8AcZdSPb4k3CzJGJoN5ER1xVOufOpitG/+rcfWbxIc6jdysyW2Ge/ry+cR74fpOhwn1nh1Dw7OEf5jsxoxPJB4WBpSUZTLH9I2A97vjreedR0D8EkENEOggEZ/upFZYymlWZyR9vwPLQBKQDmhCX3meqy+s3hwnqPuigSEqS+nBi5UmG8E8Py5MvQKLO0sbZP0AaW03kLqHeZltQ6Uif9Cch6zWhp5d1TVu9estwRvbrUSIud2K8gh6cZoEy0taxrh7MBa5hs9Zfh0BADp4zP7uhnVbaMnWoc8RwyWnsVLWY6Nkoy/A+Q5DjettJ6YjkvwOpy7AokSzm1cpfVweaMVblI2WqbnEgo5kThO7CZhXH1h4kwWVx8Yie8oblsErjmyI+TfbJUiCyYZzQc3IAfEspUPnyieNd+9fOKfdOp8qpuwZ8nq4yjzaxA5XKu0idXfUZNpscKqkbeNZBsoBbktpiEhFMLlcGmPwu6TFfki5vS7D++fX42ZXzXXhr/qejj4zYEHVTDTVQ2Dr6YNuNnEkpAm0xqo8KBzrafITzIIyFNvHi4NVvf2v+JsNR9grzpUteEfG4V/7IDy1HWtDXa6duBNg//Wg3xcxDBugQm2tbgv+3IB8/fIzojM+WZbNzUm7wrSi+w/BycEyT5SECunKahHQunNBKIKc6KzZOaL53qUh+B/6jVVlZjcvKmrHdxTiutnCGyLziEmg+FbHqNJG9gwrVf3DcC65CQJuDMCsu6nZBJuVbkJfTCmbswaPcomzVQCPZ7/G3KGwS0fdABEJAdPfPXMAzoyyLZuDBtDA7mjSlMf6opjbwRhKKg8X8fJoj16n3JYrYVjhE1ftMhqsKhsphgcHdYjsyxwmPMw1NSQcwlDut5d8ot3voViUa770x/a0MKzmaXY1Pk2/IfB1iqlnCSdYOq2Lpw7dGEks7uNsxhq8RXTgGSa+Hm2HKkGNMv6h3k60zL7jg8ka/8FfCFfBzQVueaViDxRjAkRg8LGn0uKsKca7wvLRYZvGH0HMfj6r3IatjfcbdKKhL30o75E7uEhFweCgyt9oXu8t3IXSHguDw9bhy4gr4jcNpFrezc8CYRbFpiRnwB4A1ham+mKkSGcX79ZkhxCpvd+TD1TUsDk+oAB3VIw3qklCY5cknvElHnPmg654IWsiGt551Z6iZ6an50z7jEsoQIRwx66VPK/SWtYsLY1vIGTKSWqLDMsM38hIpRjZfbYByEG4JEi9D+/GSBBNSpvWowHYd6g35mr1Q/YOw2R+O2+enqVl8Ch6UO9XDnGy0Myj4apXInX4s+Cm9HlTlnvqA=="/>\n    <input type="hidden" value="d88ecef654a509f955a3fd41db8f6514" id="jschl-vc" name="jschl_vc"/>\n    <!-- <input type="hidden" value="" id="jschl-vc" name="jschl_vc"/> -->\n    <input type="hidden" name="pass" value="1644986761.453-YD3DZ4hKNe"/>\n    <input type="hidden" id="jschl-answer" name="jschl_answer"/>\n  </form>\n     \n    <script type="text/javascript">\n      //<![CDATA[\n      (function(){\n          var a = document.getElementById(\'cf-content\');\n          a.style.display = \'block\';\n          var isIE = /(MSIE|Trident\\/|Edge\\/)/i.test(window.navigator.userAgent);\n          var trkjs = isIE ? new Image() : document.createElement(\'img\');\n          trkjs.setAttribute("src", "/cdn-cgi/images/trace/jschal/js/transparent.gif?ray=6de42134ce0f6402");\n          trkjs.id = "trk_jschal_js";\n          trkjs.setAttribute("alt", "");\n          document.body.appendChild(trkjs);\n          var cpo=document.createElement(\'script\');\n          cpo.type=\'text/javascript\';\n          cpo.src="/cdn-cgi/challenge-platform/h/b/orchestrate/jsch/v1?ray=6de42134ce0f6402";\n          \n          window._cf_chl_opt.cOgUQuery = location.search === \'\' && location.href.indexOf(\'?\') !== -1 ? \'?\' : location.search;\n          window._cf_chl_opt.cOgUHash = location.hash === \'\' && location.href.indexOf(\'#\') !== -1 ? \'#\' : location.hash;\n          if (window._cf_chl_opt.cUPMDTk && window.history && window.history.replaceState) {\n            var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;\n            history.replaceState(null, null, "\\/SPTL?__cf_chl_rt_tk=40kXTRXggcBHppQhqH_TDlstueYdt1BgF_PEkPjsUMI-1644986760-0-gaNycGzNBz0" + window._cf_chl_opt.cOgUHash);\n            cpo.onload = function() {\n              history.replaceState(null, null, ogU);\n            };\n          }\n          \n          document.getElementsByTagName(\'head\')[0].appendChild(cpo);\n        }());\n      //]]>\n    </script>\n  \n\n  \n  <div id="trk_jschal_nojs" style="background-image:url(\'/cdn-cgi/images/trace/jschal/nojs/transparent.gif?ray=6de42134ce0f6402\')"> </div>\n</div>\n\n          \n          <div class="attribution">\n            DDoS protection by <a rel="noopener noreferrer" href="https://www.cloudflare.com/5xx-error-landing/" target="_blank">Cloudflare</a>\n            <br />\n            <span class="ray_id">Ray ID: <code>6de42134ce0f6402</code></span>\n          </div>\n      </td>\n     \n    </tr>\n  </table>\n</body>\n</html>\n'